<div class="optionBelt">
    <div class="optionsTitle" id="content">
        <p class="title">KONTENT</p>
    </div>
    <a class="option" id="news" href="CMS.php?function=news"/></a>
<a class="option" id="calender" href="CMS.php?function=calendar"/></a>
<a class="option" id="gallery" href="CMS.php?function=gallery"></a>
<a class="option" id="InForest" href="CMS.php?function=inforest"></a>
<a class="option" id="UpCycling" href="CMS.php?function=upcycling"></a>
</div>
<div class="optionBelt">
    <div class="optionsTitle" id="menage">
        <p class="title">ZARZĄDZAJ</p>
    </div>
    <a class="option" id="users" href="CMS.php?function=users"></a>
    <a class="option" id="config" href="CMS.php?function=config"></a>
    <a class="option" id="tasks" href="CMS.php?function=tasks"></a>
    <a class="option" id="help"></a> 
</div>