/* 
    Created on : 2014-10-10, 16:25:56
    Author     : Lukasz
*/
/*<editor-fold desc="Formowanie ogólne" defaultstate="collapsed">*/

html
{
    font-family: tahoma;
    color: white;
    background-color: #84af4b;
}

body
{   
    margin: 0; 
    height: 100%;
}

form
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    text-decoration: underline;
}

/*<editor-fold desc="Przyciski" defaultstate="collapsed">*/

.buttonHolder
{
    margin: 0 auto;
    width: 30%;
    height: 50px;
}

.formButton
{
    width: 50%;
    height: 100%;

    border: 0;

    display: block;
    float: left;

    background-color: #a7393b;

    text-align: center;
    line-height: 50px;
    vertical-align: middle;

    color: white;
    font-size: 15px;
}

/*</editor-fold>*/

/*</editor-fold>*/

/*<editor-fold desc="Nagłówk" defaultstate="collapsed">*/

.label 
{
    width: 100%;
    height: 100px;
    padding: 0 0 0 0;
    background-color: #70a031;
}

.titleDivision
{
    width: 33.33%;
    height: 100px;
    position: relative;
    float: left;
}

#CMSname
{
    font-size: 30px;
    color: white;
}

#pageTitle
{
    font-size: 40px;
    color: white;
}

.pageTitles
{
    text-align: center;
    display: table-cell;
    vertical-align:middle;    
}

.titleContainer
{
    width: 100%;
    height: 100px;
    display: table;
}


/*<editor-fold desc="Opcje urzytkownika" defaultstate="collapsed">*/

.userMenu
{
    width: 200px;
    height: 100px;
    float: right;
    overflow: hidden;
    position: relative;
}

.userOption
{
    width: 200px;
    height: 100px;
    display: table;
    background-color: #70a031;
    color: white;
}

.userName 
{
    width: 200px;
    height: 100px;
    display: table;
    color: white;    
}

.userMenu:hover
{
    height: 400px;
}

.UsersList 
{
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    float: left;
}

.UsersListItem
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    display: block;
    margin: 2px 0 2px 0;
    background-color: rgba(255,255,255,0.1);
}

.UsersDetails 
{
    width: 70%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    float: left;
}

.UsersDetails h1
{
    text-align: center;
    color: white;
    font-family: tahoma;
}

/*</editor-fold>*/
/*</editor-fold>*/

/*<editor-fold desc="Nawigacja" defaultstate="collapsed">*/

/*<editor-fold desc="Kontenery nawigacji" defaultstate="collapsed">*/

.optionBelt 
{
    margin: 40px auto;
    min-height: 100px;
    width: 80%;
}

.optionsTitle
{
    width: 100px;
    height: 100px;
    float: left;
    text-align: left;
    margin: 0 2px 0 0;
    color: white;
}

#content
{
    background-color: #a7393b;    
}

#menage
{
    background-color: #5099a6;    
}

.title
{
    margin: 0;
    padding: 10px 10px;
}

.option
{
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: #70a031;
    margin: 0 2px 0 2px;
}

/*</editor-fold>*/
/*<editor-fold desc="Ikonki" defaultstate="collapsed">*/

#news
{
    background-image: url(../Images/newsy_button.png);
}

#news:hover
{
    background-image: url(../Images/newsy_button.png), url(../Images/hover.png);    
}

#calendar
{
    background-image: url(../Images/calendarium_button.png);
}

#calendar:hover
{
    background-image: url(../Images/calendarium_button.png), url(../Images/hover.png);        
}

#gallery
{
    background-image: url(../Images/gallery_button.png);   
}

#gallery:hover
{
    background-image: url(../Images/gallery_button.png), url(../Images/hover.png);          
}

#InForest
{
    background-image: url(../Images/w_lesie_button.png);       
}

#InForest:hover
{
    background-image: url(../Images/w_lesie_button.png), url(../Images/hover.png);  
}

#UpCycling
{
    background-image: url(../Images/upcycling_button.png);           
}

#UpCycling:hover
{
    background-image: url(../Images/upcycling_button.png), url(../Images/hover.png);  
}

#users
{
    background-image: url(../Images/users_button.png);           
}

#users:hover
{
    background-image: url(../Images/users_button.png), url(../Images/hover.png);     
}

#config
{
    background-image: url(../Images/settings_button.png);              
}

#config:hover
{
    background-image: url(../Images/settings_button.png), url(../Images/hover.png);   
}

#tasks
{
    background-image: url(../Images/zadania_button.png);     
}

#tasks:hover
{
    background-image: url(../Images/zadania_button.png), url(../Images/hover.png);       
}

#help
{
    background-image: url(../Images/help_button.png);                  
}

#home
{
    margin: 0 auto;
    background-image: url(../Images/homepage_button.png);
    display: block;
    width: 100px;
    height: 100px;
}

#home:hover
{
    background-image: url(../Images/homepage_button.png), url(../Images/hover.png);    
}
/*</editor-fold>*/
/*</editor-fold>*/

/*<editor-fold desc="Logowanie" defaultstate="collapsed">*/

.logIn
{
    margin: 5% auto;
    width: 50%;
    height: 60%;
    background-color: #70a031;

    position: relative;
}

.logIn div
{
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: block;

    width: 80%;

    position: absolute;
}

.logIn input
{
    width: 100%;
    height: 60px;

    border: 0;

    margin-bottom: 5px;
    font-size: 25px;    
}

.logIn button
{
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 50%;
    border: 0;

    background-color: #a7393b;
    color: white;
    font-size: 30px;
}

/*</editor-fold>*/

/*<editor-fold desc="Urzytkownicy" defaultstate="collapsed">*/

.usersModule
{
    width: 80%;
    height: 85%;
    background-color: #70a031;

    margin: 0px auto;
}

@media screen and (max-height: 790px )
{
    .usersModule
    {
        height: 660px;
    }
}

.usersModule table, tr, td
{
    width: 90%;
    margin: 0 auto;
    border-color: black;
    //border: 1px solid;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    border-collapse: collapse;
}

.usersModule td
{
    width: 20%;
    padding: 2px;     
}

.usersModule td a
{
    margin: 0 5px;
    display: inline-block;
}

.usersModule table button
{
    height: 30px;
    width: 100px;
    border: 0;

    margin: 2px auto 2px;

    background-color: #a7393b;
    color: white;
    font-size: 15px;
}

.usersModule .search
{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 15px;
}

.usersModule .formHolder
{
    width: 60%;
    float: left;
}

.usersModule .inputHolder
{
    width: 90%;
    height: 30px;

    margin: 0px auto 2px auto;
    padding: 0;

    display: block;
}

.usersModule .inputHolder label
{
    width: 30%;
    height: 100%;

    display: block;
    float: left;
}

.usersModule .photoHolder
{
    width: 40%;
    height: 40%;

    background-color: aqua;
    float: left;
    display: block;     
}

.usersModule .inputHolder input, select
{
    width: 70%;
    height: 100%;

}

.tableRights td
{
    width: 10%;
}

/*</editor-fold>*/

/*<editor-fold desc="Newsy" defaultstate="collapsed">*/

.newsModule
{
    width: 80%;
    background-color: #70a031;

    margin: 0px auto;
}

.newsList
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

.addNewsButton
{
    width: 100%;
    height: 50px;
    background-color: #a7393b;

    margin: 0 0 5px 0;
    display: block;

    text-align: center;
    line-height: 50px;
}

.newsItem
{
    width: 100%;
    height: 50px;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 5px 0;
}

.newsItem:hover
{
    overflow: visible;
    height: auto;
}

/*<editor-fold desc="Belka tytułowa" defaultstate="collapsed">*/

.newsItem .titleBar
{
    width: 100%;
    height: 50px;

    line-height: 50px;
}

.newsItem .titleBar .title
{
    width: 60%;
    padding: 0;
    height: 100%;
    float: left;

    text-align: center;
}

.newsItem .author, .date
{
    width: 20%;
    height: 100%;
    float: left;

    text-align: center;
}
/*</editor-fold>*/

.newsItem .content
{
    width: 100%;
    height: auto;
}

/*<editor-fold desc="Belka edycyjna" defaultstate="collapsed">*/

.newsItem .editBar
{
    width: 100%;
    height: 50px;
    padding: 10px 0px;

    line-height: 50px;
}

.newsItem .editBar a
{
    width: 50%;
    height: 100%;
    display: block;
    border: none;
    float: left;

    background-color: transparent;
    text-align: center;
}

/*</editor-fold>*/

.newsTitleInput
{
    width: 80%;
    margin: 0 auto;

    display: block;
}

.newsContentInput
{
    width: 80%;
    height: 80%;
    margin: 10px auto;

    display: block;
}
/*</editor-fold>*/

/*<editor-fold desc="Calendar" defaultstate="collapsed">*/

.calendarModule
{
    width: 80%;
    height: 85%;
    background-color: #70a031;

    margin: 0px auto;
}

@media screen and (max-height: 790px )
{
    .calendarModule
    {
        height: 660px;
    }
}

.calendarModule table
{
    margin: 0 auto;
    width: 90%;
    //    display: block;
}

.acall
{
    width: 100%;
    height: 100%;
    display: block;
}

td > a
{
    display: block;

}
/*</editor-fold>*/

/*<editor-fold desc="Galeria" defaultstate="collapsed">*/

.galleryModule, .galleryEditModule
{
    width: 80%;
    background-color: #70a031;

    margin: 0px auto;
}

.galleryEditModule
{
    min-height: 80%;
}

.galleryEditModule .photo
{
    width: 200px;
    height: 200px;
    
    background-size: cover;
    float: left;
}

.galleryItem
{
    width: 100%;
    height: 50px;
    margin: 0 0 5px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.galleryItem .title, .button, .author
{
    float: left;
    height: 100%;
    text-align: center;
}

.galleryItem .title
{
    width: 60%;
    padding: 0;
}

.galleryItem .button
{
    width: 10%;
    height: 100%;
    background-color: #a7393b;
    float: left;

    line-height: 50px;
    text-align: center;
}

.galleryItem input
{
    width: 60%;
    height: 100%;
    float: left;
    border: 0;
}

.galleryItem .author
{
    width: 20%;
    height: 100%;
    line-height: 50px;
    border: 0;
}

.galleryItem button
{
    width: 20%;
    height: 100%;
    background-color: #a7393b;

    border: 0;
    color: white;
    font-size: 14px;
}

/*</editor-fold>*/

